################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
.vscode
node_modules/
*.txt
*.js
*.user
bin/
obj/
*.cache
